html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, main, header, hgroup, menu, nav, section {
  display: block;
}

strong, b {
  font-weight: bold;
}

i, em, blockquote {
  font-style: italic;
}

ul, ol {
  list-style: none;
}

img {
  background: transparent;
  border: 0;
}

img, embed, object, video {
  max-width: 100%;
  height: inherit;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

a {
  color: #FF6A3D;
}
a:hover {
  color: #C5522F;
}

time {
  margin: 0 0.4em;
  font-style: italic;
  font-size: 0.95em;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 100%;
  color: #1A2238;
  background-color: white;
  text-rendering: optimizeLegibility;
}

body > header {
  height: 100px;
  background-color: #1A2238;
  font-family: apertura, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body > header a {
  color: #FCF9F4;
}
body > header a:hover {
  color: #FF6A3D;
}
body > header h1 {
  font-size: 1.4em;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 0 0 0;
}
body > header nav {
  text-align: center;
  padding: 20px 0 0 0;
}
@media only screen and (min-width: 1000px) {
  body > header h1 {
    float: left;
    padding: 40px 0 0 10%;
  }
  body > header nav {
    float: right;
    padding: 40px 10% 0 0;
  }
}
body > header li {
  display: inline;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 10px;
}
body > header li:first-child {
  padding: 0 10px 0 0;
}
body > header li:last-child {
  padding: 0 0 0 10px;
}
body > header li a:hover {
  border-bottom: 2px solid #F4DB7D;
  box-shadow: inset 0 -2px 0 #F4DB7D;
}

body > main {
  margin: 0 auto;
}
@media only screen and (max-width: 500px) {
  body > main {
    max-width: 90%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 999px) {
  body > main {
    max-width: 70%;
  }
}
@media only screen and (min-width: 1000px) {
  body > main {
    max-width: 50%;
  }
}

body > footer {
  background-color: #F1F0EE;
  text-align: center;
  padding: 40px 0;
}
body > footer a {
  color: #1A2238;
}
body > footer a:hover {
  color: #1A2238;
}

article:not(:only-of-type) {
  margin: 3em 0;
}
article:not(:only-of-type) > header > h1 {
  margin-bottom: 0.3em;
  font-size: 2.5em;
  line-height: 1em;
  font-weight: bolder;
  letter-spacing: 1px;
}
article:not(:only-of-type) > header > h1 a {
  color: #1A2238;
}
article:not(:only-of-type) > header > h1 a:hover {
  color: #1A2238;
}
article:not(:only-of-type) > header > h2 {
  margin-top: 0.3em;
  font-size: 1.2em;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 1px;
}
article:not(:only-of-type) > footer {
  margin-top: 1em;
  padding: 0.5em;
  background-color: #F1F0EE;
  overflow: hidden;
}
article:not(:only-of-type) > footer p:nth-child(1) {
  float: left;
  clear: both;
}
article:not(:only-of-type) > footer p:nth-child(2) {
  float: right;
}
article:not(:only-of-type) > footer p:nth-child(2) a {
  font-size: 0.95em;
  background-color: #FF6A3D;
  color: #FCF9F4;
  padding: 0.2em 0.4em 0.2em;
  border-radius: 1px;
}

article:only-of-type header {
  margin: 3em 0 2em;
  text-align: center;
}
article:only-of-type header > h1 {
  line-height: 1em;
  font-size: 2.2em;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 0.3em;
}
article:only-of-type header > h2 {
  margin-top: 0.3em;
  font-size: 1.2em;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 1px;
}
article:only-of-type header > img {
  margin-top: 2em;
  martin-bottom: 0em;
}
article:only-of-type > h1 {
  font-size: 1.9em;
  font-weight: bold;
  margin: 1.5em 0 1em;
  line-height: 1em;
}
article:only-of-type > h2 {
  font-size: 1.6em;
  font-weight: normal;
  margin: 1em 0 0.5em;
  line-height: 1em;
}
article:only-of-type > h3 {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0.5em 0;
  line-height: 1em;
}
article:only-of-type > p, article:only-of-type > blockquote {
  line-height: 1.5em;
}
article:only-of-type > p {
  margin: 0.75em 0;
}
article:only-of-type > blockquote {
  margin: 1em;
}
article:only-of-type > ul {
  list-style: disc;
  margin: 0 0 0.75em 2em;
}
article:only-of-type > ul li {
  line-height: 1.5em;
}
article:only-of-type > ol {
  list-style-type: decimal;
  margin: 0 0 0.75em 2em;
}
article:only-of-type > ol li {
  line-height: 1.5em;
}
article:only-of-type :not(pre) code, article:only-of-type pre {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 85%;
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: #F1F0EE;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
article:only-of-type > footer {
  line-height: 2em;
  margin: 3em 0;
}
article:only-of-type > footer h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em 0;
  line-height: 1em;
}
article:only-of-type > footer li {
  line-height: 1.5em;
}
article:only-of-type > footer p:nth-child(2) a {
  font-size: 0.95em;
  background-color: #FF6A3D;
  color: #FCF9F4;
  padding: 0.1em 0.4em 0.1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

dl {
  margin: 3em 0;
}
dl dt {
  margin: 1.5em 0 1em;
  font-size: 1.5em;
  font-weight: bold;
}
dl dd {
  margin: 0.5em 0;
}

/*# sourceMappingURL=style.css.map */
