{% extends "base.html" %}
{% block content %}
{% if posts or tag_list %}
<dl>
	{% if posts %}
	<dt>{{ title }}</dt>
	{% for post in posts -%}
	<dd><a href="{{ post.tag }}.html">{{ post.title }}</a> <time datetime="{{ post.date.strftime('%Y-%m-%d') }}">{{ post.date.strftime('%B %d, %Y') }}</time></dd>
	{% endfor %}{%- endif %}

	{% for tag, posts in tag_list -%}
	<dt id="{{ tag }}">{{ tag|capitalize }}</dt>
	{% for post in posts -%}
	<dd><a href="{{ post.tag }}.html">{{ post.title }}</a> <time datetime="{{ post.date.strftime('%Y-%m-%d') }}">{{ post.date.strftime('%B %d, %Y') }}</time></dd>
	{% endfor %}{%- endfor %}
</dl>
{% endif %}
{% endblock %}
