<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{{ title }}</title>
		<!-- <base href="{{ baseref }}" /> -->
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" type="text/css" href="prettify/desert.css" />
		<script type="text/javascript" src="prettify/prettify.js"></script>
		<link rel="alternate" type="application/atom+xml" href="feed.atom" />
		{% if keywords %}<meta name="keywords" content="{{ keywords|join(', ') }}">{% endif %}
		{% if author %}<meta name="Author" content="{{ author }}" />{% endif %}
		<script type="text/javascript">
			window.onload = function(){var x=document.getElementsByTagName("pre");for(var i=0;i<x.length;i++)
			{if(x[i].firstChild.nodeName.toLowerCase()=="code"){x[i].className="prettyprint"}}prettyPrint()}
		</script>
	</head>
	<body>
		<header>
			<h1><a href="./index.html">MTG Mana Rocks</a></h1>
			<nav>
				<ul>
					<li><a href="./archives.html">Archives</a></li>
					<li><a href="./about.html">About</a></li>
					<li><a href="http://fr.linkedin.com/in/lheyberger">Contact</a></li>
					<li><a href="./feed.atom">Atom</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer><a href="http://fr.linkedin.com/in/lheyberger">Ludovic Heyberger</a></footer>
	</body>
</html>
