<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@lheybergermtg" />
		<meta name="twitter:creator" content="@lheybergermtg" />
		{% if title %}
		<title>{{ title }} • MTG Mana Rocks</title>
		<meta property="og:title" content="{{ title }} • MTG Mana Rocks">
		<meta name="twitter:title" content="{{ title }} • MTG Mana Rocks">
		{% endif %}
		{% if subtitle %}
		<meta name="description" content="{{ subtitle }}">
		<meta property="og:description" content="{{ subtitle }}">
		<meta name="twitter:description" content="{{ subtitle }}">
		{% endif %}
		{% if banner %}
		<meta property="og:image" content="{{ baseref }}{{ banner }}">
		<meta name="twitter:image" content="{{ baseref }}{{ banner }}">
		{% endif %}
		{% if permalink %}
		<meta property="og:url" content="{{ permalink }}" />
		{% endif %}
		<!-- <base href="{{ baseref }}" /> -->
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="alternate" type="application/atom+xml" href="feed.atom" />
		{% if keywords %}<meta name="keywords" content="{{ keywords|join(', ') }}">{% endif %}
		{% if author %}<meta name="Author" content="{{ author }}" />{% endif %}
		<script src="https://getinsights.io/js/insights.js"></script>
		<script>insights.init('mF3zO77fmKAsEhtu');insights.trackPages();</script>
	</head>
	<body>
		<header>
			<h1><a href="./index.html">MTG Mana Rocks</a></h1>
			<nav>
				<ul>
					<li><a href="./archives.html">Archives</a></li>
					<li><a href="./about.html">About</a></li>
					<li><a href="https://twitter.com/lheybergermtg">Twitter</a></li>
					<li><a href="./feed.atom">Atom</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer><a href="https://twitter.com/lheybergermtg">Ludovic Heyberger</a></footer>
	</body>
</html>
