$light-color: #FCF9F4;
$dark-color: #1A2238;
$yellow-color: #F4DB7D;
$tangerine-color: #FF6A3D;
$tangerine-color-darker: #C5522F;

$background-color: white;
$light-background: #F1F0EE;
$dark-text-color: $dark-color;

$header-background-color: $dark-color;
$header-link-color: $light-color;
$header-link-color-hover: $tangerine-color;

$title-link-color: $dark-color;
$title-link-color-hover: $dark-color;

$body-link-color: $tangerine-color;
$body-link-color-hover: $tangerine-color-darker;
$body-link-color-contrast: $light-color;

$footer-link-color: $dark-color;
$footer-link-color-hover: $dark-color;

$admonition-border-color: rgb(26, 34, 56);
$admonition-background-color: rgb(26, 34, 56, .1);
