$accent-color: #FC6B35;
$accent-darker-color: #BA3B0D;
$accent-contrast-color: #FCF9F4;


$background-color: white;

$light-background: #F1F0EE;
$dark-background: #353A3E;

$accent-background: $accent-color;
$accent-foreground: $accent-contrast-color;

$dark-text-color: #353A3E;
$light-text-color: white;

$dark-link-over: black;
$light-link-over: #b3b9be;
