
body {

	> header {

	    height: 100px;
    	background-color: $header-background-color;
        font-family: $header-font;
        @include link-color($header-link-color, $header-link-color-hover);

        h1 {
            font-size: 1.4em;
            font-weight: 900;
            letter-spacing: 1px;
            text-align: center;
            padding: 20px 0 0 0;
        }
        nav {
            text-align: center;
            padding: 20px 0 0 0;
        }

        @include wide {
            h1 {
                float: left;
                padding: 40px 0 0 10%;
            }
            nav {
                float: right;
                padding: 40px 10% 0 0;
            }
        }

        li {
            display: inline;
            font-size: 1.1em;
            font-weight: 700;
            letter-spacing: 1px;
            padding: 0 10px;

            &:first-child {
                padding: 0 10px 0 0;
            }
            &:last-child {
                padding: 0 0 0 10px;
            }

            a:hover {
                border-bottom: 2px solid $yellow-color;
                box-shadow: inset 0 -2px 0 $yellow-color;
            }
        }
	}
}
