
article:only-of-type {

	header {
		margin: 5em 0;
		text-align: center;

		> h1 {
			line-height: 1.5em;
			font-size: 2.2em;
			font-weight: bold;
		}

		> h2 {
			line-height: 1.5em;
			font-size: 1.5em;
			font-style: italic;
			font-weight: lighter;
		}

		> img {
			margin-top: 2em;
			martin-bottom: 0em;
		}
	}

	> h1 {
		@include title(1.90em, bold, 2em 0 1em);
	}

	> h2 {
		@include title(1.60em, normal, 2em 0 1em);
	}

	> h3 {
		@include title(1.40em, normal, 2em 0 1em);
	}

	> p, > blockquote {
		line-height: 1.5em;
	}

	> p {
		margin: 0.75em 0;
	}

	> blockquote {
		margin: 1em;
	}

	> ul {
		list-style: disc;
		margin: 0 0 0.75em 2em;

		li {
			line-height: 1.5em;
		}
	}

	> ol {
		list-style-type: decimal;
		margin: 0 0 0.75em 2em;

		li {
			line-height: 1.5em;
		}
	}

	:not(pre) code, pre {
		font-family: $code-font;
		font-size: 85%;
		padding: 0.2em 0.4em;
		margin: 0;
		background-color: $light-background;
		@include border-radius(6px);
	}

	> footer {
		line-height: 2em;
		margin: 3em 0;

		h1 {
			@include title(1.30em, bold, 0.5em 0);
		}

		li {
			line-height: 1.5em;
		}

		p:nth-child(2) a {
		    font-size: .95em;
		    background-color: $body-link-color;
		    color: $body-link-color-contrast;
		    padding: .1em .4em .1em;

		    @include border-radius(1px);
		}
	}
}
