
article:only-of-type {

	header {
		margin: 3em 0 2em;
		text-align: center;

		> h1 {
			line-height: 1em;
			font-size: 2.2em;
			font-weight: bolder;
			letter-spacing: 1px;
			margin-bottom: .3em;
		}

		> h2 {
			margin-top: .3em;
			font-size: 1.2em;
			font-weight: lighter;
			font-style: italic;
			letter-spacing: 1px;
		}

		> img {
			margin-top: 2em;
			martin-bottom: 0em;
		}
	}

	> h1 {
		@include title(1.90em, bold, 1.5em 0 1em);
	}

	> h2 {
		@include title(1.60em, normal, 1em 0 .5em);
	}

	> h3 {
		@include title(1.40em, normal, .5em 0);
	}

	> p, > blockquote {
		line-height: 1.5em;
	}

	> p {
		margin: 0.75em 0;
	}

	> blockquote {
		margin: 1em;
	}

	> ul {
		list-style: disc;
		margin: 0 0 0.75em 2em;

		li {
			line-height: 1.5em;
		}
	}

	> ol {
		list-style-type: decimal;
		margin: 0 0 0.75em 2em;

		li {
			line-height: 1.5em;
		}
	}

	table {
		font-size: 1em;
		text-align: center;
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;

		thead th {
			font-size: 1.05em;
			font-weight: bold;
			background: $light-background;
			padding: .5em;
		}

		tbody {
			tr {
				border-bottom: 1px solid $light-background;
			}
			td {
				background: $background-color;
				padding: .5em;
			}
		}
	}

	:not(pre) code, pre {
		font-family: $code-font;
		font-size: 85%;
		padding: 0.2em 0.4em;
		margin: 0;
		background-color: $light-background;
		@include border-radius(6px);
	}

	> footer {
		line-height: 2em;
		margin: 3em 0;

		h1 {
			@include title(1.30em, bold, 0.5em 0);
		}

		li {
			line-height: 1.5em;
		}

		p:nth-child(2) a {
		    font-size: .95em;
		    background-color: $body-link-color;
		    color: $body-link-color-contrast;
		    padding: .1em .4em .1em;

		    @include border-radius(1px);
		}
	}
}


// <table>
// 	<thead>
// 		<tr>
// 			<th>Commander</th>
// 			<th>Power</th>
// 			<th>Speed</th>
// 			<th>Control</th>
// 			<th>Consistency</th>
// 		</tr>
// 	</thead>
// 	<tbody>
// 		<tr>
// 			<td>Abaddon the Despoiler</td>
// 			<td>🟩🟩🟨⬜⬜</td>
// 			<td>🟩⬜⬜⬜⬜</td>
// 			<td>🟩🟨⬜⬜⬜</td>
// 			<td>⬜⬜⬜⬜⬜</td>
// 		</tr>
// 		<tr>
// 			<td>Anhelo, the Painter</td>
// 			<td>🟩🟩⬜⬜⬜</td>
// 			<td>🟩🟨⬜⬜⬜</td>
// 			<td>🟨⬜⬜⬜⬜</td>
// 			<td>⬜⬜⬜⬜⬜</td>
// 		</tr>
// 	</tbody>
// </table>