
@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    transition: $duration;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin link-style() {
	a {
		text-decoration: none;
		outline: none;
		@include transition(.2s);
	}
}

@mixin link-color($normal-color, $hover-color: inherit) {
	a {
		color: $normal-color;
		&:hover { color: $hover-color; }
	}
}

@mixin title($font-size, $font-weight, $margin) {
	font-size: $font-size;
	font-weight: $font-weight;
	margin: $margin;
}
